<div class="header">
        <div class="col-1"><h6></h6></div>
        <div class="row">
            <div class="col-10">
                <p></p>
            </div>
            <div class="col-1">
                <button type="button" class="btn btn-outline-light" onclick="window.location.href = 'carrito'" >  <i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
            </div>
            <div class="col-1">
                <button type="button" class="btn btn-outline-light" onclick="window.location.href = '/logout';">Salir</button>
            </div>
        </div>
    </div>
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <div id="sidebarMenu">
    <ul class="sidebarMenuInner">
      <li>Mi tienda</li>
      <li>Catálogo Chiper</li>
      <li>Mi Inventario</a></li>
      <li>Mis fiados</li>
      <li>Estadísticas de mi tienda</li>
      <li>Mi carrito</li>
    </ul>
  </div>